<h1>Student Show</h1>

<h3>Name<%= @student.name %></h3>

  <table class = "table">
    <tr>
      <th>Course</th>
      <th>Grade</th>
    </tr>
    <% @student.course_and_grade.each do |cg| %>
    <tr>
      <td><%=cg.name %></td>
      <td><%= cg.grade %></td>
    </tr>
    <% end %>
  </table>
