<h1>Index</h1>
  <% @courses.each do |course| %>
  <section id='course-<%= course.id %>'>
<h3><u><%=course.name%></u></h3>
<% students = course.student_name_and_grade%>

<table class = "table">
  <tr>
    <th>Name</th>
    <th>Grade</th>
  </tr>
  <tr>
    <% students.each do |student|%>
    <td><%=student.name%></td>
    <td><%=student.grade%></td>
  </tr>
  <% end %>
</table>
<% end %>
